<form action="">
  <div class="row align-items-center">
    <div class="input-group mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="New {{ label }}"
        name="newItem"
        id="newItem"
        [ngModel]="selection?.name"
        #newItem
      />
      <button
        *ngIf="!selection?.name"
        (click)="onAddNewItem(newItem.value); newItem.value = ''"
        class="btn btn-primary"
        type="button"
        [ngClass]="[className]"
      >
        Add
        {{ label }}
      </button>
      <button
        *ngIf="selection?.name"
        (click)="onUpdateItem(selection, newItem.value); newItem.value = ''"
        class="btn btn-primary"
        type="button"
        [ngClass]="[className]"
      >
        Update
        {{ label }}
      </button>
    </div>
  </div>
</form>
