<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-form-new-item
        (onAddNewItemEvent)="addNewCity($event)"
        [label]="'city'"
        [className]="'btn-info'"
      ></app-form-new-item>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-8">
      <ul>
        <app-cities
          *ngFor="let city of cities"
          (cityClickedEvent)="onCityClicked($event)"
          [city]="city"
          [selection]="selection"
        ></app-cities>
      </ul>
      <!--  <ul>
        <li
          *ngFor="let city of cities"
          (click)="onCityClicked(city)"
          [ngClass]="{ 'alert alert-info': city === selection }"
        >
          {{ city }}
        </li>
      </ul> -->
    </div>

    <div class="col-md-4">
      <div *ngIf="selection">
        <p>Your city is {{ selection }}</p>
        <app-button
          (click)="onClick()"
          [label]="'clear you section'"
        ></app-button>
      </div>
    </div>
  </div>
</div>
