<h1>Contact form id: {{ id }}</h1>
<pre>
    {{ contactForm.value | json }}
</pre>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div class="mb-4">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="model.name"
      required
      #name="ngModel"
    />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger my-1">
      This field is required
    </div>
  </div>

  <div class="mb-4">
    <label for="checkAdult" class="form-label"
      >Are you over 18 years of age?</label
    >
    <input
      type="checkbox"
      class="form-check"
      id="checkAdult"
      name="checkAdult"
      [(ngModel)]="model.checkAdult"
      required
      #checkAdult="ngModel"
    />
    <div
      [hidden]="checkAdult.valid || checkAdult.pristine"
      class="alert alert-danger my-1"
    >
      This field is required
    </div>
  </div>

  <div class="mb-4">
    <label for="deoartment" class="form-label">Department</label>
    <select
      name="department"
      id="department"
      class="form-select form-select-sm"
      [(ngModel)]="model.department"
      required
      #department="ngModel"
    >
      <option selected>Select</option>
      <option value="marketing">Marketing</option>
      <option value="sales">Sales</option>
      <option value="other">Other</option>
    </select>
    <div
      [hidden]="department.valid || department.pristine"
      class="alert alert-danger my-1"
    >
      This field is required
    </div>
  </div>

  <div class="mb-4">
    <label for="comment" class="form-label">Comment</label>
    <textarea
      name="comment"
      id="comment"
      class="form-control"
      rows="3"
      placeholder="Enter your comment..."
      [(ngModel)]="model.comment"
      required
      #comment="ngModel"
    ></textarea>
    <div
      [hidden]="comment.valid || comment.pristine"
      class="alert alert-danger my-1"
    >
      This field is required
    </div>
  </div>
  <div class="float-end d-grid gap-2 col-4 my-3">
    <button class="btn btn-info btn-lg" [disabled]="contactForm.invalid">
      Send
    </button>
  </div>
</form>
